.App {
    background-image: url('https://images.unsplash.com/photo-1516100413948-27235ca6990e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8b2xkJTIwdHJhZmZvcmR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0em;
}

@media only screen and (max-width: 767px) {
  div.ui.container {
    margin-left: 0em!important;
    margin-right: 0em!important;
  }  
}

body, html {
    height: 100%;
    margin: 0;
}

.border {
    background: white;
    border-style: solid;
    border-color: #37003C;
    border-width: 3px;
    border-radius: 8px;
    margin: 80px;
    padding: 10px;
}